@import ./comp/header
@import ./comp/main
@import ./comp/footer
// @import "~bootstrap/scss/bootstrap";

#root 
    
    display: grid
    height: 100vh
    grid-auto-rows: auto 1fr auto 
    background-color: white
    gap: 30px

.card-title 
   
    img
        width: 70px
        height: auto

.card

    .weather
        display: grid
        gap: 30px
   
    .card
        border-radius: 20px
        .card-body 
            display: flex
            justify-content: space-around
        .card-title 
            display: grid
            place-items: center


@media (max-width: 576px) 
    .container 
        width: 25rem


@media (min-width: 576px) 
    .container 
        width: 65rem